/* taken from my other stylesheet, dreamerslegacy.xyz/css/schema.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body {
    font-family: 'Inconsolata', monospace;
    background-color: rgb(32,32,32);
}
.schema {
    padding: 40px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(48, 48, 48);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}
h1 {
    text-align: left;
    margin-left: 5px;
}
h3 {
    margin-top: 40px;
}
p, a, li {
    color: whitesmoke;
}
input {
    color: whitesmoke;
    background-color: rgb(48, 48, 48);
    font-family: 'Inconsolata', monospace;
    border: 0.05rem solid white;
}
.button {
    background-color: rgb(48, 48, 48);
    font-family: 'Inconsolata', monospace;
    border: 0.05rem solid white;
    color: whitesmoke;
    padding: 15px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: auto;
    height: auto;
}
.card {
    background-color: rgb(48, 48, 48);
    padding: 30px;
    margin-top: 20px;
}
