<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FORESIGHT Web Console</title>
        <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    </head>
    <body>
        <div class = "schema">
            <h1>FORESIGHT</h1>
            <p>Server ID: {{ serverid }}</p>
            <hr>
            <div style = "display: flex; justify-content: center; align-items: center; padding-top: 5%; padding-bottom: 5%;">
                <div style = "border: 0.1rem solid white; padding-left: 30%; padding-right: 30%; padding-top: 5%; padding-bottom: 6%;">
                    <h2>Change password.</h2>
                    <p>Please enter a new password below.</p>
                    <p style = "padding-top: 1%; padding-bottom: 1%; color: #ff4545;">{{ error }}</p>
                    <hr>
                    <div style = "padding-top: 8%; padding-bottom: 5%;">
                        <form action = "{{ url_for('change_password') }}" method = "POST">
                            <p>New:</p>
                            <input type = "password" name = "password" required>
                            <p>Confirm:</p>
                            <input type = "password" name = "password_affirm" required>
                            <input type = "submit">
                        </form>
                    </div>
                    <a class = "button" href = "{{ url_for('index') }}">Back</a>
                </div>
            </div>
        </div>
    </body>
</html>
