<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FORESIGHT Web Console</title>
        <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="https://dreamerslegacy.xyz/css/schema.min.css" referrerpolicy="noreferrer">
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script>
            var socket = io();
            socket.on("pollUpdate", data => {
                /* value for textarea and textContent for paragraphs */
                document.getElementById(data["id"]).value = data["data"];
                document.getElementById(data["id"]).textContent = data["data"];
            });
        </script>
        <div class = "schema">
            <h1>FORESIGHT</h1>
            <p>Server ID: {{ serverid }}</p>
            <hr>
            <div style = "display: flex;">
                <a class = "button" href = "{{ url_for('logout') }}">Logout</a>
                <a style = "margin-left: 1%;" class = "button" href = "{{ url_for('change_password') }}">Change Password</a>
            </div>
            <hr>
            <noscript>
                <p style = "color: #ff4545;">JavaScript is required for FORESIGHT to process live I/O.</p>
            </noscript>
            <div style = "display: flex;">
                {% for interface in interfaces %}
                <div class = "card" style = "width: 30%; margin-left: 1.5%; margin-right: 1.5%;">
                    <hr>
                    <h2>{{ interface }}</h2>
                    <p>Hostname: {{ interfaces[interface]["host"] }}, Port: {{ interfaces[interface]["port"] }}</p>
                    <hr>
                    {% for section in interfaces[interface]["sections_render"] %}
                    {{ section|safe }}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <script>
                var coll = document.getElementsByClassName("collapsible");
                var i;
                for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    document.getElementsByClassName("collapsible:after").content = "▲";
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight){
                    content.style.maxHeight = null;
                    } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                    }
                });
                }
            </script>
        </div>
    </body>
</html>
