<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FORESIGHT Web Console</title>
        <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    </head>
    <script src="{{ url_for('static', filename = 'collapse.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        var socket = io();
    </script>
    <body>
        <div class = "schema">
            <h1>FORESIGHT</h1>
            <p>Server ID: {{ serverid }}</p>
            <hr>
            <div style = "display: flex;">
                <a class = "button" href = "{{ url_for('logout') }}">Logout</a>
                <a style = "margin-left: 1%;" class = "button" href = "{{ url_for('change_password') }}">Change Password</a>
            </div>
            <hr>
            <noscript>
                <p style = "color: #ff4545;">JavaScript is required for FORESIGHT to process live I/O.</p>
            </noscript>
            {% for interface in interfaces %}
            <div class = "card">
                <hr>
                <h2>{{ interface }}</h2>
                <p>Hostname: {{ interfaces[interface]["host"] }}, Port: {{ interfaces[interface]["port"] }}</p>
                <hr>
                {% for section in interfaces[interface]["sections_render"] %}
                {{ section }}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>
